<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubtitleCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SubtitleCreator.Properties.Settings>
            <setting name="FromLanguageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToLanguageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayBetweenTranslations" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DVDWizardInputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDWizardOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDWizardTempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DVDWizardSubtitlePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SetSubtitlePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoPlayDVD" serializeAs="String">
                <value>True</value>
            </setting>
        </SubtitleCreator.Properties.Settings>
    </userSettings>
</configuration>